/* Reset default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* This ensure that all text within the body of the html is in arial style font and black color */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* This code sets the top bar that includes the view score link as well as the active timer. */
.top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;   
}

.top-bar, #score, #timer{
    margin: 10px;
}

#score {
    color: blue;
}

.start-container {
    text-align: center;
}

span {
    color: blueviolet;
}

.start-container, h1, p, button {
    margin: 80px 0 40px;
}

.start-container h1{
    font-size: 40px;
}

.start-container h2{
    margin: 30px;
}

.start-container p{
    font-size: 20px;
    margin: -3px;
}

/* This is the blue button found in the starting screen that says "Begin Quiz" */
.start-container button{
    font-size: 20px;
    border-radius: 7px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: blue;
    color: white;
}
